mixin userInputTag(tag, id, name, className, placeholder="", type="text")
  case tag
    when "input"
      input(
        type=type
        id=id
        name=name
        class=className
        placeholder=placeholder)&attributes(attributes)
      span.error(aria-live="polite")
    when "textarea"
      textarea(
        type=type
        id=id
        name=name
        class=className
        placeholder=placeholder
        rows="3"): block
      span.error(aria-live="polite")
