extends ../components/partial/layout.pug

block content
  .main-container
    h5.card-title #{user.name}
    p.card-text #{user.id}
    small.text-muted: p createdAt : #{user.createdAt}
    if(user.updatedAt)
      small.text-muted: p updatedAt : #{user.updatedAt}
    a(class="btn btn-primary" href="/") Back
    -if(isAuthenticated && currentUser._id.toString() == user._id.toString())
      a(class="btn btn-primary" href=`/users/${user._id}/edit`) Edit