<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partial/header.ejs") %>
  </head>

  <body>
    <%- include ("../partial/navbar.ejs") %> <%- include ("../partial/body.ejs")
    %>
    <div class="container">
      <h4>Edit Post</h4>
      <form method="POST" novalidate>
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label>Title</label>
            <input
              type="text"
              name="title"
              class="form-control"
              value="<%= post.title %>"
            />
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label>Body</label>
            <textarea name="postBody" class="form-control" rows="3">
<%= post.body %></textarea
            >
          </div>
        </div>
        <a class="btn btn-primary mb-2" href="/posts/<%= post._id %>">Back</a>
        <button
          type="submit"
          class="btn btn-primary mb-2"
          formaction="/posts/<%= post._id %>?_method=PUT"
        >
          Edit
        </button>
      </form>
    </div>
  </body>
</html>
