extends ../components/partial/layout.pug

block append style
  link(rel="stylesheet" type="text/css" href="/static/css/paginate.css")
  
block append head
  script(defer type="module" src="/static/js/post/RenderPosts.js")

block content
  .container
    h4 board
    table.table.table-sm
      thead
        tr
          th(scope="col") Title
          th(scope="col") Body
          th(scope="col") CreatedAt
      +tablebody(posts)
    +pagination()
    a.btn.btn-primary(href="/posts/new") New

mixin pagination()
  div.paginate: div.page-wrap
    - for (let i = 1; i <= count; i++)
      - if(page==i)
        button.page.current-page(href=`/posts/page${i}`)
          em.num-page= i
      - else
        button.page(href=`/posts/page${i}`)
          em.num-page= i

mixin tablebody(posts)
  tbody#tbody-posts
    each post in posts
      tr
        td: a.post-link(href=`/posts/${post._id}`)= `${post.title}`
        td= `${post.body}`
        td= `${post.createdAt}`
    else
      tr
        td There are no posts please create it