<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partial/header.ejs") %>
  </head>

  <body>
    <%- include ("../partial/navbar.ejs") %> <%- include ("../partial/body.ejs")
    %>
    <div class="container">
      <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-body text-dark">
          <h5 class="card-title"><%= post.title %></h5>
          <p class="card-text">
            <%= post.body %>
          </p>
          <p class="card-text">
            <small class="text-muted"
              >createdAt : <%= moment(post.createdAt).format('YYYY-MM-DD\
              HH:mm:ss') %> <br />
              <% if(post.updatedAt) { %> updatedAt : <% } %> <%= post.updatedAt
              ? moment(post.updatedAt).format('YYYY-MM-DD\ HH:mm:ss') : ''; %>
            </small>
          </p>
        </div>
      </div>
      <a class="btn btn-primary" href="/posts">Back</a>
      <a class="btn btn-primary" href="/posts/<%= post.id %>/edit">Edit</a>
      <form
        method="POST"
        onsubmit="return confirm('Are you sure you want to delete this post?');"
      >
        <button
          class="btn btn-primary"
          id="delbtn"
          type="submit"
          formaction="/posts/<%= post.id %>?_method=DELETE"
        >
          Delete
        </button>
      </form>
    </div>
  </body>
</html>
