extends ../components/partial/layout.pug
include ../components/form/formChildNode.pug

block append head
  script(defer type="module" src="/static/js/comment/NewFormValidation.js")

block append style
  link(rel="stylesheet" href="/static/css/comment.css")/

block content
  .main-container
    .card.border-dark.mb-3(style='max-width: 18rem;')
      .card-body.text-dark
        h5.card-title #{post.title}
        p.card-text #{post.body}
        p #{post.author.email}
        small.text-muted: p createdAt : #{post.createdAt}
        if(post.updatedAt)
          small.text-muted: p updatedAt : #{post.updatedAt}
    a(class="btn btn-primary" href="/posts") Back
    - if(isAuthenticated && post.author && currentUser._id.toString() === post.author._id.toString())
      a(class="btn btn-primary" href=`/posts/${post._id}/edit`) Edit
      form(method="POST")
        button.btn.btn-primary(type="submit") Delete
    h4 comments
    form(method="POST" enctype="multipart/form-data" novalidate data-post-id=`${post._id}`)
      - if(isAuthenticated)
        fieldset
          .text-area
            +userInputTag("textarea", "", "text", "uit text", "comments")
            button.btn.btn-primary(type="submit") Add Comment
      - else
        fieldset(disabled)
    - if(comments.length)
    - console.log(comments[0]);
      each comment in comments
        .comment-line
          p.text-element= `${comment.text}`
          p.text-element= `${comment.author.name}`
          p.text-element.date= `${comment.createdAt}`
