extends ../components/partial/layout.pug
include ../components/form/formChildNode.pug

block append head
  script(defer type="module" src="/static/js/comment/NewFormValidation.js")
  script(defer type="module" src="/static/js/post/DeleteSubmitForm.js")

block append style
  link(rel="stylesheet" href="/static/css/detail.css")/

block content
  .main-container
    #post-header
      .title #{post.title}
      p.text #{post.author.name}
      small: p.text createdAt : #{post.createdAt}
      if(post.updatedAt)
        small: p.text updatedAt : #{post.updatedAt}
    #post-body
      #post-contents #{post.body}
    #post-footer
      a.btn(href="/posts") Back
      - if(isAuthenticated && post.author && currentUser._id.toString() === post.author._id.toString())
        form#destroy(method="POST" style="display:inline"): button.btn.mlr(type="submit") Delete
        a.btn(href=`/posts/${post._id}/edit`) Edit
    h4 comments
    form#create(method="POST" enctype="multipart/form-data" novalidate data-post-id=`${post._id}`)
      - if(isAuthenticated)
        fieldset
          .text-area
            +userInputTag("textarea", "", "text", "uit text", "comments")
            button.btn.mt(type="submit") Add Comment
      - else
        fieldset(disabled)
    - if(comments.length)
      #wrap-comments
        each comment in comments
          #comment
            .header-author
              a#author-text(href=`/users/${comment.author._id}`)= `${comment.author.name}`
              - if(comment.updatedAt === undefined)
                p.published-time= `${comment.createdAt}`
              - else  
                p.published-time= `${comment.createdAt}(수정됨)`
            #comment-body
              #comment-contents
                p#comment-text= `${comment.text}`
              - if(isAuthenticated && post.author && currentUser._id.toString() === comment.author._id.toString())
                #action
                  a#action-edit edit
                  a#action-delete.ml delete
            #comment-edit(hidden)
              form(method="POST" enctype="multipart/form-data" novalidate data-post-id=`${post._id}`)
              - if(isAuthenticated)
                fieldset
                  .text-area
                    +userInputTag("textarea", "", "text", "uit text", "comments")
                    button.btn.mt(type="submit") Edit Comment
              - else
                fieldset(disabled)