block append style
  link(rel="stylesheet" type="text/css" href="/static/css/formstyle.css")

mixin userInputTag(tag, id, name, className, placeholder="", type="text")
  case tag
    when "input"
      input(
        type=type
        id=id
        name=name
        class=className
        placeholder=placeholder)&attributes(attributes)
    when "textarea"
      textarea(
        type=type
        id=id
        name=name
        class=className
        placeholder=placeholder
        rows="3"): block
