extends ../components/partial/layout.pug
include ../components/form/formChildNode.pug

block append head
  script(defer type="module" src="/static/js/comment/NewForm.js")
  script(defer type="module" src="/static/js/comment/EditForm.js")

block append style
  link(rel="stylesheet" href="/static/css/detail.css")/

block content
  .main-container
    #post-header
      .title #{post.title}
      a#author-text(href=`/users/${post.author._id}`)= `${post.author.name}`
      - if(post.updatedAt === undefined)
        small: p.published-time= `${post.createdAt}`
      - else
        small: p.published-time= `${post.createdAt} 수정됨`

    #post-body
      #post-contents #{post.body}
    #post-footer
      a.btn(href="/posts") Back
      - if(isAuthenticated && post.author && currentUser._id.toString() === post.author._id.toString())
        form(action=`/posts/${post._id}?_method=DELETE` method="POST" style="display:inline" id="post-delete")
          a.btn.mlr(href="javascript:void(0)") Delete
        a.btn(href=`/posts/${post._id}/edit`) Edit
    
    - if(comments.length > 0 || isAuthenticated)
      h4 comments
    - if(isAuthenticated)
      #comment-add
        form(action="/comment" method="POST" id="comment-create" enctype="multipart/form-data" novalidate
            data-post-id=post._id)
          fieldset
            .input-area
              +userInputTag("textarea", "text", "text", "uit", "comments")
            button.btn.mt(type="submit") Add Comment
    +commentsRender(comments)

mixin commentsRender(comments)
  - if(comments.length)
    #wrap-comments
      each comment in comments
        #comment
          .header-author
            a#author-text(href=`/users/${comment.author._id}`)= `${comment.author.name}`
            - if(comment.updatedAt === undefined)
              p.published-time= `${comment.createdAt}`
            - else  
              p.published-time= `${comment.createdAt} 수정됨`
          #comment-body
            #comment-contents
              p#comment-text= `${comment.text}`
            - if(isAuthenticated && post.author && currentUser._id.toString() === comment.author._id.toString())
              #action
                a#action-edit edit
                form(action=`/comment/${comment._id}?_method=DELETE` method="POST" id="comment-delete" data-post-id=`${post._id}`)
                  a.ml#action-delete(href="javascript:void(0)") delete
          #comment-edit-toggle(hidden)
            - if(isAuthenticated && post.author && currentUser._id.toString() === comment.author._id.toString())
              form(action=`/comment/${comment._id}?_method=PUT` id="comment-edit" method="POST" enctype="multipart/form-data" novalidate
                  data-post-id=`${post._id}`)
                fieldset
                  .input-area
                    +userInputTag("textarea", "text", "text", "uit", "comments")= comment.text
                  button.btn#edit-cancel Cancel
                  button.btn.ml(type="submit") Edit Comment