extends ../components/partial/layout.pug

block content
  .main-container
    h4 User Info
    h5.card-title #{user.name}
    p.card-text #{user.id}
    small.text-muted: p createdAt : #{user.createdAt}
    if(user.updatedAt)
      small.text-muted: p updatedAt : #{user.updatedAt}
    a.btn(href="/") Back
    -if(isAuthenticated && currentUser._id.toString() == user._id.toString())
      a.btn.ml(href=`/users/${user._id}/edit`) Edit